* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

li {
    margin-left: 1.5rem;
}

hr.delimiter {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1em;
}

h3{
    margin-top: 0.7em;
}

p {
    margin-bottom: 0.5em;
}

#page {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

pre {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 5px;
    margin: 0.5em 0;
}

code, code>* {
    font-family: 'Cousine', monospace;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 3px;
    background-color: lightgrey;
    padding: 1px 3px;
}

table {
    border-color: grey;
    border-collapse: collapse;
    border-style: solid;
    margin-bottom: 0.5em;
}

th {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-bottom-width: 2px;
    padding: 3px 5px;
}

td {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding: 3px 5px;
}

.footnotes {
    font-size: 0.8em;
    color: grey;
    border-top-color: grey;
    border-top-width: 1px;
    border-top-style: solid;
}